<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>フットサルリーグ</title>
    <!-- 画面共通CSS -->
    <link rel="stylesheet" href="../futsal_file/css/reset.css">
    <link rel="stylesheet" href="../futsal_file/css/component.css">
    <link rel="stylesheet" href="../futsal_file/css/common.css">
    <!-- 画面個別CSS -->
    <link rel="stylesheet" href="../futsal_file/css/manageTeam.css">
</head>

<body class="com_body">
    <!-- ヘッダー -->
    <header class="com_header">
        <h1 class="c_typo_headerL c_typo_WHT">フットサルリーグ</h1>
        <h2 class="c_typo_headerS c_typo_WHT">チーム管理</h2>
    </header>

    <!-- メイン -->
    <main class="com_main">
        <!-- 説明セクション -->
        <section class="mt_expSec">
            <p class="c_typo_bodyM c_typo_WHT">各回の参加チームを登録してください。</p>
        </section>

        <!-- チームセクション -->
        <section class="mt_teamSec">
            <ul class="mt_roundList">
                <li>
                    <h3 class="c_typo_headerM c_typo_WHT">第1回</h3>
                    <div class="c_underbar"></div>
                    <ul class="mt_teamList">
                        <li>
                            <a class="mt_teamBtn" href="javascript:void(0);">
                                <p class="c_typo_bodyM c_typo_BLK01">営企</p>
                                <div class="mt_teamBtn_icons">
                                    <div class="mt_editIcon">
                                        <img src="../futsal_file/image/pencil.svg" alt="編集">
                                        <img src="../futsal_file/image/pencil_disactive.svg" alt="編集（非活性）">
                                    </div>
                                    <div class="mt_deleteIcon" href="javascript:void(0);">
                                        <img src="../futsal_file/image/cross.svg" alt="編集">
                                        <img src="../futsal_file/image/cross_disactive.svg" alt="編集（非活性）">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="mt_teamBtn" href="javascript:void(0);">
                                <p class="c_typo_bodyM c_typo_BLK01">情シス</p>
                                <div class="mt_teamBtn_icons">
                                    <div class="mt_editIcon">
                                        <img src="../futsal_file/image/pencil.svg" alt="編集">
                                        <img src="../futsal_file/image/pencil_disactive.svg" alt="編集（非活性）">
                                    </div>
                                    <div class="mt_deleteIcon" href="javascript:void(0);">
                                        <img src="../futsal_file/image/cross.svg" alt="編集">
                                        <img src="../futsal_file/image/cross_disactive.svg" alt="編集（非活性）">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="mt_teamBtn" href="javascript:void(0);">
                                <p class="c_typo_bodyM c_typo_BLK01">ブラ戦</p>
                                <div class="mt_teamBtn_icons">
                                    <div class="mt_editIcon">
                                        <img src="../futsal_file/image/pencil.svg" alt="編集">
                                        <img src="../futsal_file/image/pencil_disactive.svg" alt="編集（非活性）">
                                    </div>
                                    <div class="mt_deleteIcon" href="javascript:void(0);">
                                        <img src="../futsal_file/image/cross.svg" alt="編集">
                                        <img src="../futsal_file/image/cross_disactive.svg" alt="編集（非活性）">
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="mt_addMemberLinkArea">
                        <div class="c_textLink mt_addMemberLink">
                            <a class="c_textLink_right" href="javascript:void(0);">
                                <p class="c_typo_headerM c_typo_GRN03">チームを追加</p>
                                <img src="../futsal_file/image/plus_circle.svg" alt="">
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <h3 class="c_typo_headerM c_typo_WHT">第2回</h3>
                    <div class="c_underbar"></div>
                    <ul class="mt_teamList">
                        <li>
                            <a class="mt_teamBtn" href="javascript:void(0);">
                                <p class="c_typo_bodyM c_typo_BLK01">地リレ</p>
                                <div class="mt_teamBtn_icons">
                                    <div class="mt_editIcon">
                                        <img src="../futsal_file/image/pencil.svg" alt="編集">
                                        <img src="../futsal_file/image/pencil_disactive.svg" alt="編集（非活性）">
                                    </div>
                                    <div class="mt_deleteIcon" href="javascript:void(0);">
                                        <img src="../futsal_file/image/cross.svg" alt="編集">
                                        <img src="../futsal_file/image/cross_disactive.svg" alt="編集（非活性）">
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="mt_teamBtn" href="javascript:void(0);">
                                <p class="c_typo_bodyM c_typo_BLK01">IT・デジ戦</p>
                                <div class="mt_teamBtn_icons">
                                    <div class="mt_editIcon">
                                        <img src="../futsal_file/image/pencil.svg" alt="編集">
                                        <img src="../futsal_file/image/pencil_disactive.svg" alt="編集（非活性）">
                                    </div>
                                    <div class="mt_deleteIcon" href="javascript:void(0);">
                                        <img src="../futsal_file/image/cross.svg" alt="編集">
                                        <img src="../futsal_file/image/cross_disactive.svg" alt="編集（非活性）">
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="mt_addMemberLinkArea">
                        <div class="c_textLink mt_addMemberLink">
                            <a class="c_textLink_right" href="javascript:void(0);">
                                <p class="c_typo_headerM c_typo_GRN03">チームを追加</p>
                                <img src="../futsal_file/image/plus_circle.svg" alt="">
                            </a>
                        </div>
                    </div>
                </li>
                <li>
                    <h3 class="c_typo_headerM c_typo_WHT">第3回</h3>
                    <div class="c_underbar"></div>
                    <div class="mt_addMemberLinkArea">
                        <div class="c_textLink mt_addMemberLink">
                            <a class="c_textLink_right" href="javascript:void(0);">
                                <p class="c_typo_headerM c_typo_GRN03">チームを追加</p>
                                <img src="../futsal_file/image/plus_circle.svg" alt="">
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </section>
    </main>

    <!-- フッター -->
    <footer class="com_footer">
        <p class="c_typo_headerXXS c_typo_WHT c_typo_center">&copy; フットサルリーグ 2025.</p>
    </footer>

    <!-- 画面共通JS -->
    <script src="../futsal_file/css/event.js"></script>
    <script src="../futsal_file/css/common.js"></script>
    <!-- 画面個別JS -->
    <script src="../futsal_file/css/manageTeam.js"></script>
</body>

</html>