/** 画面共通 **/
/* フォント */
@font-face {
    font-family: "Noto Sans JP";
    src: url("../font/NotoSansJP-Regular.ttf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans JP";
    src: url("../font/NotoSansJP-Bold.ttf") format("opentype");
    font-weight: 700;
}

/* ボディ */
.com_body {
    background-image: url("../image/grass_sp.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: repeat-y;
    font-family: "Noto Sans JP", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "メイリオ", "Meiryo", "ＭＳ　Ｐゴシック", "HelveticaNeue", "Helvetica", "Arial", Sans-Serif;
}

@media (min-width: 760px) {
    .com_body {
        background-image: url("../image/grass_pc.jpg");
        background-repeat: repeat;
    }
}

/* ボディ */
.com_body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* ヘッダー */
.com_header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 14px 20px;
    background-color: #316745;
}

/* メイン */
.com_main {
    flex-grow: 1;
}

/* フッター */
.com_footer {
    padding: 12px 0;
}

/* ナビゲーション */
.com_nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(248, 181, 0, 0.4);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    z-index: 100;
}

.com_navList {
    display: flex;
}

.com_navList>li {
    flex-basis: 0;
    flex-grow: 1;
}

.com_navBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    outline: none;
    cursor: pointer;
}

.com_navBtn_disabled {
    cursor: default;
}

.com_navIcon {
    width: 32px;
    height: 32px;
}

/* ボタン幅 */
.com_btnWidth120 {
    width: 120px;
}

.com_btnWidth280 {
    width: 280px;
}