/** コンポーネント **/
.c_bodyScroll {
    overflow-y: hidden;
}

/* タイポグラフィ */
.c_typo_headerXXS {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
}

.c_typo_headerXS {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.c_typo_headerS {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.c_typo_headerM {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
}

.c_typo_headerL {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.c_typo_headerXL {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
}

.c_typo_headerXXL {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

.c_typo_bodyXS {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
}

.c_typo_bodyS {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.c_typo_bodyM {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.c_typo_bodyL {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.c_typo_cta {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
}

.c_typo_ctaS {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
}

.c_typo_numberL {
    font-size: 42px;
    line-height: 42px;
    font-weight: 700;
}

/* PC表示 */
@media (min-width: 760px) {
    .c_typo_headerXS {
        font-size: 16px;
        line-height: 24px;
    }

    .c_typo_headerS {
        font-size: 18px;
        line-height: 26px;
    }

    .c_typo_headerM {
        font-size: 22px;
        line-height: 32px;
    }

    .c_typo_headerL {
        font-size: 28px;
        line-height: 36px;
    }

    .c_typo_headerXL {
        font-size: 42px;
        line-height: 50px;
    }

    .c_typo_headerXXL {
        font-size: 48px;
        line-height: 56px;
    }

    .c_typo_bodyM {
        font-size: 18px;
        line-height: 26px;
    }

    .c_typo_bodyL {
        font-size: 24px;
        line-height: 36px;
    }

    .c_typo_numberL {
        font-size: 50px;
        line-height: 50px;
    }
}

.c_typo_WHT {
    color: #FFFFFF;
}

.c_typo_BLK01 {
    color: #2E2E2E;
}

.c_typo_BLK02 {
    color: #585858;
}

.c_typo_BLK03 {
    color: #D9D9D9;
}

.c_typo_GRN01 {
    color: #003D34;
}

.c_typo_GRN02 {
    color: #008673;
}

.c_typo_GRN03 {
    color: #CCEBE6;
}

.c_typo_GRN04 {
    color: #316745;
}

.c_typo_BLU01 {
    color: #001E43;
}

.c_typo_BLU02 {
    color: #26499D;
}

.c_typo_BLU03 {
    color: #0068B7;
}

.c_typo_BLU04 {
    color: #00AFCC;
}

.c_typo_BLU05 {
    color: #BBDBF3;
}

.c_typo_BLU06 {
    color: #EAF6FF;
}

.c_typo_RED01 {
    color: #640808;
}

.c_typo_RED02 {
    color: #C43434;
}

.c_typo_RED03 {
    color: #E09A9A;
}

.c_typo_center {
    text-align: center;
}

.c_typo_right {
    text-align: right;
}

/* タグ */
.c_tag_sizeS {
    display: flex;
}

.c_tag_sizeS {
    padding: 2px 8px;
    border-radius: 4px;
}

.c_tag_GRY {
    background-color: #D9D9D9;
}

.c_tag_BLU {
    background-color: #BBDBF3;
}

/* テキストリンク */
.c_textLink {
    display: flex;
    cursor: pointer;
}

.c_textLink_right {
    justify-content: flex-end;
}

.c_textLink>a {
    display: flex;
    align-items: center;
    outline: none;
}

.c_textLink img {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

/* ボタン */
.c_btn {
    display: block;
    width: 100%;
    border: 2px solid #008673;
    outline: none;
}

.c_btn_sizeS {
    padding: 2px 0;
    border: 2px solid #008673;
    border-radius: 14px;
}

.c_btn_sizeM {
    padding: 13px 0;
    border: 3px solid #008673;
    border-radius: 24px;
}

.c_btn_GRN {
    background-color: #008673;
}

.c_btn_WHT {
    background-color: #FFFFFF;
}

.c_btn_disabled {
    background-color: #D9D9D9;
    border-color: #D9D9D9;
    cursor: none;
}

.c_btn_disabled p {
    color: #585858;
}

/* ダイアログ */
.c_dialog {
    display: flex;
}

.c_dialog_target {
    display: flex;
    cursor: pointer;
}

.c_dialog_backGround {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 61, 52, 0.9);
    backdrop-filter: blur(2px);
}

.c_dialog_backGround[open] {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.c_dialog_contents {
    position: relative;
    width: 90vw;
    max-width: 592px;
    min-width: 328px;
    max-height: 90vh;
}

.c_dialog_closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(16px, -16px);
    outline: none;
    cursor: pointer;
}

.c_dialog_closeBtn>svg {
    cursor: pointer;
}

.c_dialog_textArea {
    max-height: 90vh;
    padding: 32px 24px;
    border-radius: 24px;
    background-color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: auto;
}

.c_dialog_contentsArea {
    padding-top: 24px;
}

/* チェックボックス */
.c_checkbox>input {
    display: none;
}

.c_checkbox>label {
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.c_checkbox_box {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #2E2E2E;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.c_checkbox>input:checked+label>.c_checkbox_box {
    background-color: #2E2E2E;
}

.c_checkbox>label>p {
    flex-grow: 1;
    margin-left: 4px;
}

/* セレクトボックス */
.c_selectbox {
    width: 100%;
    padding: 8px 16px;
    border: 2px solid #008673;
    border-radius: 16px;
    background-color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2E2E2E;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.c_selectbox:disabled {
    background-color: #D9D9D9;
    border-color: #D9D9D9;
    color: #585858;
    cursor: none;
    transition: all 0.1s ease-in;
}

/* テキストフィールド */
.c_textField {
    width: 100%;
    padding: 15px;
    border: 1px solid #F2FAF9;
    border-radius: 16px;
    background-color: #F2FAF9;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2E2E2E;
    outline: none;
    resize: none;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.c_textField::placeholder {
    color: #D9D9D9;
}

.c_textField:focus {
    border-color: #008673;
}

.c_textField:disabled {
    background-color: #D9D9D9;
    border-color: #D9D9D9;
    color: #585858;
    cursor: none;
    transition: all 0.1s ease-in;
}

/* アンダーバー */
.c_underbar {
    position: relative;
    width: 120px;
    height: 8px;
    margin-top: 4px;
    border-radius: 4px;
    background-color: #003D34;
}

.c_underbar::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 66%;
    height: 100%;
    border-radius: 4px;
    background-color: #00AFCC;
}